@charset "UTF-8";

/*  Configs gerais  */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #D3D3D3;
}

header {
    background-color: #949494;
}

header h1 {
    text-align: center;
    padding-top: 11px;
    margin-bottom: 11px;
}

span#burguer {
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    text-decoration: none;
    border-top: 2px solid gray;
}

menu a:hover {
    background-color: #D3D3D3;
    color: black;
}

menu { 
    display: none;
}

menu ul {
    list-style-type: none;
}

main {
    background-color: white;
    margin: 15px auto 0px auto;
    padding: 10px;
    max-width: 90vw;
    border-radius: 10px;
}

main h2{
    padding-bottom: 18px;
}

main p {
    margin: 20px 0px 20px 0px;
    text-indent: 30px;
}