@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(90deg, #BF9D5E, #8C7251);
}
main{
    background-color: white;
    border-radius: 10px;
    /* Parâmetros : to right, to bottom, espalhamento, cor */ 
    box-shadow: 5px 5px 15px rgba(75, 62, 38, 0.567);
    width: 600px; /*  LARGURA  */
    padding: 10px;
    margin: auto;
}
h1{
    color: #302840;
    text-align: center;
    text-shadow: 1px 1px 0px #302840;
}
h2{
    color: #080C59;
}
p{
    text-align: justify;
}